@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-green-500 font-mono;
  }

  *:focus {
    @apply outline-none ring-2 ring-green-300 ring-offset-2 ring-offset-black;
  }
}

@keyframes subtleFlicker {
  0%, 100% {
    opacity: 1;
    text-shadow: 0 0 3px;
  }
  20%, 80% {
    opacity: 0.9;
    text-shadow: 0 0 2px;
  }
  40%, 60% {
    opacity: 0.8;
    text-shadow: 0 0 1px;
  }
}

.matrix-effect {
  font-family: "Courier New", Courier, monospace;
  animation: subtleFlicker 2s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s steps(1, end) infinite;
}

